@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

body {
  margin: 0;
  padding: 0;
}

.maplibregl-popup-close-button {
  padding: 4px 8px !important;
  font-size: 18px !important;
  line-height: 1 !important;
  color: #666 !important;
}
